body{
  margin:0;
  padding:0;
}

#topbar{
  width: 100%;
  height:50px;
  display:flex;
  justify-content: center;
  position: fixed;
  z-index: 2;
  background-color:#2f3542;
}
#topbar_right{
  height: 100%;
  display: flex;
  position:relative;
}
.topbar_func div a{
  text-decoration: none;
  color:#ffffff;
}
.topbar_func{
  text-align: center;
  line-height: 50px;
  width:100px;
  color:#ffffff;
  font-size:20px;
  font-weight:bold;
}
.topbar_dropdown{
  display:none;
  position:absolute;
  width: 100px;
  background-color:#57606f;
}
.topbar_dropdown > div:hover{
  background-color:#747d8c;
}
#user_container:hover > .topbar_dropdown{
  display:block;
}
#show{
  width: 100%;
  height:300px;
  position: relative;
  border: 1px solid black;
}
#fill_container{
  height:50px;
  width:50%;
}
#main{
  width:1000px;
  margin:0 auto;
  display:flex;
  flex-direction: column;
  align-items:center;
}
#type_container{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  right:0;
  top:50%;
  transform: translateY(-50%);
}
.type{
  width:70px;
  position: relative;
  right:0;
  font-size: 20px;
  height:30px;
  margin-top:10px;
  text-align: left;
  background-color:#747d8c;
  color:#f1f2f6;
  cursor: pointer;
}
#type_seleted{
  width: 100px;
  color:#fff;
  background-color:#2f3542;
}
#type_seleted::before{
  color:#fff;
  background-color:#2f3542;
}
.type:hover {
  width: 100px;
  color:#fff;
  background-color:#2f3542;
}
.type:hover::before{
  color:#fff;
  background-color:#2f3542;
}
.type::before{
  display: inline-block;
  position: relative;
  width:21px;
  height:21px;
  content: "";
  transform: translateY(3px) translateX(-11px) rotate(-45deg);
  background-color:#747d8c;
}
#search_container{
  height: 300px;
  width: 100%;
  font-size: 20px;
  margin:auto;
}
#search{
  height: 40px;
  width: 800px;
  position: relative;
  top: 50%;
  font-size: 20px;
  margin:auto;
}
#search > input{
  float: left;
  width:90%;
  height:100%;
  font-size:20px;
  line-height:100%;
  border: 1px solid black;
  padding-left:10px;
  padding-top:0;
  padding-bottom:0;
}
#search > button{
  width: 40px;
  height:100%;
  float: left;
}



