body{
  background-color:#f1f2f6;
}
#main{
  margin-left:150px;
  padding-top:10px;
}
.main_top_container{
  width: 1000px;
  margin-left:auto;
  margin-right:auto;
  margin-top:80px;
  border-top: 2px solid #2f3542;
  border-bottom: 2px solid #2f3542;
  text-align:center;
}
