#main_commodity_management{
}
#commodity_head .commodity_func{
  display:block;
  color:black;
  border-left:none;
  border-right:none;
}
#commodity_head{
  border-bottom: 2px solid black;
}
#main_body_items{
  height:680px;
  width:1340px;
  margin-left:auto;
  margin-right:auto;
  overflow-y:auto;

}
.commodity_item{
  margin: auto;
  margin-top:15px;
  height:50px;
  width:1320px;
  font-size:20px;
  line-height:50px;
  text-align:center;
}
#commodity_selected{
  background-color:#dfe4ea;
}
#commodity_head:hover{
  background-color:#f1f2f6;
}
.commodity_item:hover{
  background-color:#dfe4ea;
}
.commodity_name{
  float:left;
  width:200px;
}
.commodity_price{
  float:left;
  width:200px;
}
.commodity_name input, .commodity_price input{
  height: 40px;
  width:100px;
  margin-top:5px;
  border:none;
  font-size:20px;
  text-align:center;
  background-color:transparent;
}
.commodity_name input:focus, .commodity_price input:focus{
  background-color:#fff;
}
.commodity_number{
  float:left;
  width:200px;
}
.commodity_number_container{
  width:150px;
  height:50px;
  margin-top:10px;
  margin-left:auto;
  margin-right:auto;
}
.commodity_number_container input{
  display: inline-block;
  height: 30px;
  width:40%;
  text-align:center;
  font-size:18px;
}
.commodity_number_container input::-webkit-inner-spin-button,
.commodity_price input::-webkit-inner-spin-button
{
  -webkit-appearance:none;
}
.btn_num_plus,.btn_num_minus{
  display: inline-block;
  width:30px;
  height:30px;
  padding:0;

}
.btn_num_minus > i::before{
  content: "-";
}
.btn_num_plus > i::before{
  content: "+";
}
.commodity_type{
  float:left;
  width:200px;
  height:100%;
}
.commodity_status{
  float:left;
  width:200px;
  height:100%;
}
.commodity_status select, .commodity_type select{
  height:40px;
  margin-top:5px;
  font-size:20px;
}
option{
  text-align:center;
}
.commodity_func{
  float:left;
  width:300px;
  display:flex;
  border-left: 2px solid black;
  border-right:2px solid black;
  color:gray;
}
.commodity_func_item{
  width:100%;
  cursor: pointer;
}
.commodity_func_item:hover{
  color:#000;
}


