#shoppingcart_container{
  transform:translateX(-802px);
  transition: transform 1s;
  position: fixed;
  height:100%;
  left:0;
  top:0;
  display:flex;
  align-items:center;
  z-index: 3;
}
#shoppingcart_body{
  height:100%;
  width:100%;
  width:800px;
  background-color:white;
  border: 1px solid black;
}
#shoppingcart_arrow{
  width:40px;
  height:100px;
  position:relative;
  background-color:#747d8c;
  cursor: pointer;
}

#shoppingcart_arrow:hover{
  background-color:#2f3542;
}
#shoppingcart_main{
  display:flex;
  height: 80%;
  flex-direction: column;
}
.shoppingcart_head{
  display:flex;
  width:760px;
  height: 40px;
  line-height:40px;
  text-align:center;
  border: 1px solid black;
}
#shoppingcart_items_outer{
  height:700px;
  overflow-y:auto;
  overflow-x:hidden;
}
.shoppingcart_items{
  display:flex;
  flex-direction:column;
}
.shoppingcart_item{
  display:flex;
  width:760px;
  height:100px;
  margin-top:10px;
  border: 1px solid black;
  line-height:100px;
  text-align:center;
}
.shoppingcart_checkbox{
  margin-left:5px;
  margin-right:5px;
}
.shoppingcart_commodity{
  width:30%;
  height:100%;
  border: 1px solid black;
}
.shoppingcart_goods{
  margin:2px;
  display:flex;
}
.shoppingcart_goods_pic{
  width:75px;
  height:75px;
}
.shoppingcart_goods_pic img{
  max-width:100%;
  max-height:100%;
}
.shoppingcart_goods_name{
  margin-left:10px;
}
.shoppingcart_price{
  width:15%;
  height:100%;
  border: 1px solid black;
}
.shoppingcart_number{
  width:20%;
  height:100%;
  border: 1px solid black;
}
.shoppingcart_sum{
  width:20%;
  height:100%;
  border: 1px solid black;
}
.shoppingcart_func{
  width:10%;
  height:100%;
  border: 1px solid black;
}
.shoppingcart_func div{
  cursor: pointer;
  color: gray;
}
.shoppingcart_number_container > button{
  display: inline-block;
}
.shoppingcart_number_container > input
{
  display: inline-block;
  text-align:center;
  width:30px;
}
.shoppingcart_number_container > input::-webkit-inner-spin-button,
.commodity_number > input::-webkit-inner-spin-button
{
  -webkit-appearance:none;
}
.btn_num_minus > i::before{
  content: "-";
}
.btn_num_plus > i::before{
  content: "+";
}
#shoppingcart_bottom{
  height: 100%;
  border: 1px solid black;
}
#shoppingcart_total{
  margin:5px;
  margin-right:10px;
  text-align:right;
}
#shoppingcart_bottom_buy{
  float: right;
  font-size:18px;
  margin-right:10px;
  margin-top:5px;
  width: 100px;
  height:60px;
  background-color:#df3033;
  border:none;
  color:white;
  cursor: pointer;
}
