<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>用户验证</title>
    <link rel="stylesheet" href="/css/certify.css">
  </head>
  <body>
    <div id="">
      <div class="input_block" id="login">
        <form action="/user/login" method="post">
          <h2>登录账户</h2>
          <input class="sign-text" type="text" name="username" placeholder="用户名">
          <input class="sign-text" type="password" name="password" placeholder="密码">
          <input class="sign-btn" type="submit" value="登录">
          <div class="sign-func">
            <h3>
              <a href="/" >主页</a>
            </h3>
          </div>
          <div class="sign-func" id="tran_register">
            <h3>
              <a href="#" >注册</a>
            </h3>
          </div>
        </form>
      </div>

      <div class="input_block" id="register" style="display:none">
        <form action="/user/register" method="post">
          <h2>注册账户</h2>
          <input class="sign-text" type="text" name="username" placeholder="用户名">
          <input class="sign-text" type="email" name="mail" placeholder="邮箱">
          <input class="sign-text" type="password" name="password" placeholder="密码">
          <input class="sign-text" type="password" name="confirm_password" placeholder="确认密码">
          <input class="sign-btn" type="submit" value="注册">
          <div class="sign-func">
            <h3>
              <a href="/" >主页</a>
            </h3>
          </div>
          <div class="sign-func" id="tran_login">
            <h3>
              <a href="#" >登录</a>
            </h3>
          </div>
        </form>
      </div>

    </div>
  </body>
  <script>
    var ele_register = document.getElementById('register');
var ele_login = document.getElementById('login');
document.getElementById('tran_login').onclick = function(){
  ele_register.style.display = "none";
  ele_login.style.display = "block";
}
document.getElementById('tran_register').onclick = function(){

  ele_login.style.display = "none";
  ele_register.style.display = "block";
}
var ele_register_input = ele_register.getElementsByTagName('input');
ele_register_input[4].addEventListener('click',()=>{
  if(ele_register_input[2].value !== ele_register_input[3].value){
    window.alert("密码不一致，请重新输入");
    ele_register_input[2].value = "";
    ele_register_input[3].value = "";
  }
})
  </script>
</html>

