<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>电商背景</title>
    <link rel="stylesheet" href="../static/css/main_page.css">
  </head>
  <body>
    <div id="topbar">
      <div class="topbar_func" >
        <div>
          <a href="#" >logo</a>
        </div>
      </div>
      <div id="fill_container">
      </div>
      <div class="topbar_func" id="user_container">
        <div>user</div>
        <div class="topbar_dropdown">
          <div><a href="#">用户</a></div>
          <div><a href="#">商家</a></div>
          <div><a href="#">购物车</a></div>
        </div>
      </div>
    </div>
    <div id="search_container">
      <div id="search">

        <input type="text" name="" id="" value="">
        <button>搜</button>
      </div>
    </div>
    <div id="main">



    </div>
    <div id="shoppingcart_container">
      <div id="shoppingcart_body">
        <div id="shoppingcart_top"><h2>全部商品</h2></div>
        <div id="shoppingcart_main">
          <div id="shoppingcart_head">
            <div class="shoppingcart_checkbox">
              <input type="checkbox" name="" id="">
            </div>
            <div class="shoppingcart_commodity">商品</div>
            <div class="shoppingcart_price">单价</div>
            <div class="shoppingcart_number">数量</div>
            <div class="shoppingcart_sum">小计</div>
            <div class="shoppingcart_func">操作</div>
          </div>

          <div id="shoppingcart_items_outer">
            <div id="shoppingcart_items">
              <div class="shoppingcart_item">
                <div class="shoppingcart_checkbox">
                  <input type="checkbox" name="" id="">
                </div>
                <div class="shoppingcart_commodity">
                  <div class="shoppingcart_goods">
                    <div class="shoppingcart_goods_pic">

                    </div>
                    <div class="shoppingcart_goods_name">
                      商品一
                    </div>
                  </div>
                </div>
                <div class="shoppingcart_price">
                  ￥8888.00
                </div>
                <div class="shoppingcart_number">
                  <div class="shoppingcart_number_container">
                    <button class="btn_num_minus">
                      <i></i>
                    </button>
                    <input type="number" min="1" step="1" value="1">
                    <button class="btn_num_plus">
                      <i></i>
                    </button>

                  </div>
                </div>
                <div class="shoppingcart_sum">￥8888.00</div>
                <div class="shoppingcart_func">
                  <div>
                    删除
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
        <div id="shoppingcart_bottom">
          <div id="shoppingcart_total">
            <span style="font-size: 23px;">总金额: </span>
            <span style="font-size: 20px;">8888.00</span>
          </div>
          <div id="shoppingcart_bottom_func">
            <button id="shoppingcart_bottom_buy">支付订单</button>
          </div>
        </div>
      </div>
      <div id="shoppingcart_arrow" >
        <svg t="1621508388129" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="10425" width="40" height="100"><path d="M782.5 83.2V678H170.2V275.9h511.6v-84H86.2V762h780.3V167.2h73.3v-84zM96.4 836.4h125.5v125.5H96.4zM729 833.9h127.9v127.9H729z" p-id="10426" fill="#e6e6e6"></path><path d="M245.9 356h437v84h-437zM245.9 508.3h437v84h-437z" p-id="10427" fill="#e6e6e6"></path></svg>
      </div>
    </div>

    <div id="type_container">
      <div type="1" class="type" id="type_seleted">全部</div>
      <div type="1" class="type">衣</div>
      <div type="1" class="type">食</div>
      <div type="1" class="type">住</div>
      <div type="1" class="type">行</div>
      <div type="1" class="type">用</div>
    </div>

  </body>
  <script src="../static/js/tool.js"></script>
  <script src="../static/js/commodity_container.js"></script>
  <script src="../static/js/main_page.js"></script>
</html>
