<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>操作日志记录</title>
  </head>
  <style>
table{
  border-collapse:collapse;
  margin:0 auto;
  margin-top:30px;
  font-size:20px;
  text-align:center;
}
td{
  padding:3px;
}
  </style>
  <body>
    <table border="1">
      <tr>
        <td>OID</td>
        <td>操作主体uid</td>
        <td>操作类型</td>
        <td>对象id</td>
        <td>对象类型</td>
        <td>操作IP</td>
        <td>操作日期</td>
        <td>操作内容</td>
      </tr>
      <tr th:each="operation_record :${operation_records}">
        <td th:text="${operation_record.oid}"></td>
        <td th:text="${operation_record.mainUid}"></td>
        <td th:text="${operation_record.operationType}"></td>
        <td th:text="${operation_record.objectId}"></td>
        <td th:text="${operation_record.objectType}"></td>
        <td th:text="${operation_record.ip}"></td>
        <td th:text="${operation_record.date}"></td>
        <td th:text="${operation_record.content}"></td>
      </tr>
    </table>
  </body>
</html>
