<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>卖家主页</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/seller_main.css">
    <link rel="stylesheet" href="/css/pic_uploader_container.css">
    <link rel="stylesheet" href="/css/seller_main_commodity_managerment.css">
    <link rel="stylesheet" href="/css/commodity_detail.css">
    <link rel="stylesheet" href="/css/seller_main_commodity_record.css">
  </head>
  <body>
    <div id="sidebar">
      <div id="top_container">
        <div id="photo"></div>
        <div id="name" th:text="${user.username}">seller</div>
      </div>
      <div id="body_container">
        <div class="body_item" id="item_selected">商品管理</div>
        <div class="body_item">销售记录</div>
        <div class="body_item">浏览记录</div>
        <div class="body_item">注销</div>
      </div>
    </div>
    <div id="main">
      <div id="main_commodity_management">
        <div class="main_top_container">
          <h1>商品管理</h1>
        </div>
        <div class="commodity_item" id="commodity_head">
          <div class="commodity_name">商品</div>
          <div class="commodity_price">单价</div>
          <div class="commodity_number">数量</div>
          <div class="commodity_type">种类</div>
          <div class="commodity_status">状态</div>
          <div class="commodity_func">操作</div>
        </div>
        <div id="main_body_container">
          <div id="main_body_items" class="main_items">

          </div>
          <div class="main_page_container">
            <div class="main_page_left main_page" ><div></div></div>
            <div class="main_page_right main_page" ><div></div></div>
            <div class="main_page_center">
              新建商品
            </div>
          </div>
        </div>
      </div>
      <div id="main_commodity_trade">
        <div class="main_top_container">
          <h1>购买记录</h1>
        </div>
        <div class="main_head main_item" >
          <div class="main_head_item main_commodity">商品名</div>
          <div class="main_head_item main_user">用户名</div>
          <div class="main_head_item main_price">单价</div>
          <div class="main_head_item main_number">数量</div>
          <div class="main_head_item main_total">总价</div>
        </div>
        <div class="main_items">
        </div>
        <div class="main_page_container">
          <div class="main_page_left main_page" ><div></div></div>
          <div class="main_page_right main_page" ><div></div></div>
          <div class="main_page_center">
          </div>
        </div>

      </div>

      <div id="main_commodity_view">
        <div class="main_top_container">
          <h1>浏览记录</h1>
        </div>
        <div class="main_head main_item" >
          <div class="main_head_item main_commodity">商品名</div>
          <div class="main_head_item main_user">用户名</div>
          <div class="main_head_item main_start_time">开始时间</div>
          <div class="main_head_item main_leave_time">离开时间</div>
          <div class="main_head_item main_duration">持续时间(秒)</div>
        </div>
        <div class="main_items">
        </div>
        <div class="main_page_container">
          <div class="main_page_left main_page" ><div></div></div>
          <div class="main_page_right main_page" ><div></div></div>
          <div class="main_page_center">
          </div>
        </div>
      </div>
    </div>
    <div  id="create_container" class="flow_container">
      <div id="create_title">
        <h2>新建商品</h2>
      </div>
      <div id="create_main">
        <div id="create_pic_container">
          <img src="#" />
        </div>
        <div id="create_desc_container">
          <div class="create_desc_item" id="create_desc_name">
            商品名：
            <input type="text">
          </div>
          <div class="create_desc_item" id="create_desc_price">
            价格：
            <input type="number" value="0">
          </div>
          <div class="create_desc_item" id="create_desc_number">
            数量：
            <input type="number" value="0">
          </div>
          <div class="create_desc_item" id="create_desc_type">
            种类：
            <select name="" id="">
              <option value="0">未分类</option>
              <option value="1">衣</option>
              <option value="2">食</option>
              <option value="3">住</option>
              <option value="4">行</option>
              <option value="5">用</option>
            </select>
          </div>
          <div class="create_desc_item" id="create_desc_description">
            商品描述：
            <textarea name="" id="" ></textarea>
          </div>
        </div>
      </div>
      <div id="create_func_container">
        <div id="create_func_container">
          <div class="create_func"><button class="create_btn_for_upload">上传图片</button></div>
          <div class="create_func"><button class="create_btn_for_cancel">取消</button></div>
          <div class="create_func"><button class="create_btn_for_save">保存</button></div>
        </div>
      </div>
    </div>

    <div id="pic_uploader_container">
      <button>x</button>
      <h2>图片上传</h2>
      <div id="pic_uploader">
        <form action="/pic/upload" method="post" enctype="multipart/form-data">
          <input type="file" name="file">
          <input type="hidden" name="cid" value="">
          <input type="submit" name="上传">
        </form>
      </div>
    </div>
  </body>
  <script src="/js/tool.js"></script>
  <script src="/js/pic_uploader.js"></script>
  <script src="/js/seller_commodity.js"></script>
  <script src="/js/seller_commodity_view.js"></script>
  <script src="/js/seller_commodity_trade.js"></script>
  <script src="/js/commodity_detail.js"></script>
  <script src="/js/seller_main.js"></script>
</html>
